{% extends "baseadmin.html.twig" %}
{% block body %}
    <h3>Éditer la playlist : </h3>

    <div class="row mt-3">
        <div class="col">
            {{ form_start(formplaylist) }}

            {{ form_end(formplaylist) }}
        </div>

        <div class="col">
            <!-- boucle sur l'affichage des formations -->
            {% for formation in playlist %}                                
                <div class="row mt-1">
                    <div class="col-md-auto">
                        {% if formation.miniature %}
                            <img src="{{ formation.miniature }}" alt="icône miniature de la formation">                           
                        {% endif %}  
                    </div>
                    <div class="col d-flex align-items-center">
                        {{ formation.title }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
